
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}
header {
    width: 100%;
    height: 100px;
}
nav {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    background-color: black;
    font-family: 'Oswald';
}
nav > .buttons {
    background-color:black;
    font-size: 15px;
    border: 0;
    text-align: center;
    align-content: center;
    height: 100px;
}
nav > .buttons > a {
    text-decoration: none;
    color: white;
}
nav > p {
    color: white;
    text-align: center;
    align-content: center;
    font-size: 31px;
}

main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
}
.sub_main {
    display: grid;
}
.all_about_me {
    display: grid;
}
.box {
    background-color: blue;
    margin: 5px;
}
h1 {
    text-align: center;
}
img {
    width: 100%;
    aspect-ratio: 3/4;
}
.hero {
    background-image: url('../AirJordan4Retro_12685.png');
    background-size: cover;
}
.as-cntnt-wrapper {
    position: sticky;
    top: 0;
}
footer {
    height: 120px;
    text-align: center;
    background-color: black;
    color: white;
    align-content: center;
}
